.radio {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin-bottom: 50px;
}

.radio__button {
  color: var(--primiry);
  font-weight: 500;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;

  background-color: var(--secondary-main-color);

  transition: background-color, color, box-shadow;

  @include animation;

  &:hover {
    background-color: var(--acent);
    color: white;
    @include box-shadow__radio;
  }

  &:focus {
    background-color: var(--acent);
    color: white;
    @include box-shadow__radio;
  }
}
