.radio {
  display: flex;
  flex-wrap: wrap;

  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 30px;

  @include tablet {
    margin-bottom: 40px;
  }

  &__item:nth-child(3) {
    flex-basis: 125px;

    @include tablet {
      flex-basis: auto;
    }
  }

  @include tablet {
    justify-content: center;
  }

  &__button {
    color: var(--primiry);
    font-weight: 500;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;
    padding: 6px 22px;
    border-radius: 4px;
    height: 38px;
    min-width: 74px;

    background-color: var(--secondary-main-color);

    transition: background-color, color, box-shadow;

    @include animation;

    &:hover {
      background-color: var(--acent);
      color: white;
      @include box-shadow__radio;
    }

    &:focus {
      background-color: var(--acent);
      color: white;
      @include box-shadow__radio;
    }
  }
}
