:root {
  --white: #ffffff;
  --primiry: #212121;
  --secondary: #757575;
  --acent: #2196f3;
  --secondary-main-color: #f5f4fa;
  --icon-primiry-fill: #afb1b8;

  --header-underline: #ececec;
}
