.benefits {
  // &--drop-padding {
  //   padding-bottom: 0px;
  // }

  &__list {
    // text-align: left;
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    gap: 30px;
    // justify-content: space-between;
  }

  &__item {
    max-width: 450px;

    @include tablet {
      max-width: calc((100% - 30px) / 2);
    }

    @include desktop {
      max-width: calc((100% - 90px) / 4);
    }
  }

  &__picture {
    display: flex;
    width: 100%;
    height: 120px;
    background-color: var(--secondary-main-color);
    border-radius: 4px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__hederline {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primiry);

    text-align: center;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;

    color: var(--secondary);
    margin-top: 10px;
  }
}
