.benefits {
  text-align: left;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
}

.benefits__picture {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-main-color);
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__hederline {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primiry);
}

.benefits__text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: var(--secondary);
  margin-top: 10px;
}
