.clients {
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primiry);
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    min-width: 226px;

    @include tablet {
      min-width: calc((100% - 30px) / 2);
    }

    @include desktop {
      min-width: calc((100% - 150px) / 6);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 170px;
    height: 92px;
    border: 1px solid var(--icon-primiry-fill);
    border-radius: 4px;

    transition: border;

    @include animation;

    &:hover {
      border: 1px solid var(--acent);
      & .clients__icon {
        fill: var(--acent);
      }
    }

    &:focus {
      fill: var(--acent);
      & .clients__icon {
        fill: var(--acent);
      }
    }
  }

  &__icon {
    width: 106px;
    height: 60px;
    fill: var(--icon-primiry-fill);

    transition: fill;

    @include animation;
  }
}
