.command__title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;

  color: var(--primiry);
}

.command__list {
  display: flex;
  text-align: center;
  gap: 30px;
}

.command__card {
  width: 270px;
  @include shadow__card;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white);
}

.command__meta {
  padding: 30px 32px;
}

.command__name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;

  color: var(--primiry);
}

.command__prof {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;

  color: var(--secondary);
  margin-top: 10px;
}
