.header {
  border-bottom: 1px solid var(--header-underline);
  background-color: white;
}

.header-mob {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__button {
    background-color: transparent;
    display: block;

    @include tablet {
      display: none;
    }
  }

  @include tablet {
    display: none;
  }
}

.menu-button {
  background-color: transparent;

  &__icon {
    width: 40px;
    height: 40px;
    fill: var(--primiry);
  }

  @include tablet {
    display: none;
  }
}

.logo {
  font-family: raleway, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  color: var(--primiry);
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;

  &__left {
    color: var(--acent);
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.mob-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  @include tablet {
    display: none;
  }
}

.head-mob__modal {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  padding: 48px 40px;

  & > .container {
    height: 100%;
    padding: 0;
    max-width: 480px;
  }
  @include tablet {
    display: none;
  }

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.menu-button-close {
  position: absolute;
  top: 21px;
  right: 25px;
  background-color: transparent;
  margin-left: auto;

  @include tablet {
    display: none;
  }

  &__icon {
    width: 18px;
    height: 18px;
    fill: var(--primiry);

    transition: fill;

    @include animation;
  }

  &:hover .header-button__close,
  &:focus .header-button__close {
    fill: var(--acent);
  }
}

.mob-nav {
  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
    letter-spacing: 0.02em;

    color: var(--primiry);

    transition: color;

    @include animation;

    &:hover,
    &:focus {
      color: var(--acent);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;

    @include tablet {
      display: none;
    }
  }
}

.mob-cont {
  &__link {
    font-weight: 500;
    font-size: 34px;
    line-height: calc(40 / 34);
    letter-spacing: 0.02em;
    color: var(--acent);
    transition: color;
    @include animation;

    &:hover,
    &:focus {
      color: var(--acent);
    }

    &--color {
      font-weight: 500;
      font-size: 24px;
      line-height: calc(28 / 24);
      letter-spacing: 0.02em;

      color: var(--secondary);
    }

    @include tablet {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include tablet {
      display: none;
    }
  }
}

.mob-soc {
  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;
    color: var(--acent);

    @include tablet {
      display: none;
    }
  }

  &__item {
    &:not(:first-child) {
      &::before {
        content: '';
        margin-right: 10px;
        margin-left: 10px;
        height: 22px;
        width: 1px;
        border: 1px solid rgba(33, 33, 33, 0.2);

        @include tablet {
          display: none;
        }
      }
    }
  }

  &__list {
    display: flex;

    @include tablet {
      display: none;
    }
  }
}

/*---------------------------*/

.head-tab-desk {
  & > .container {
    display: none;
    justify-content: space-between;
    align-items: center;

    gap: 30px;

    @include tablet {
      display: flex;
      // width: 768px;
    }

    @include desktop {
      justify-content: unset;
    }

    & > .header__logo {
      width: auto;
    }
  }
}

.nav {
  &__list {
    display: none;

    align-items: center;
    flex-direction: row;
    gap: 50px;

    @include tablet {
      display: flex;
    }

    @include desktop {
      margin-left: 93px;
    }
  }
  &__item {
  }
  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;

    color: var(--primiry);

    display: inline-block;
    padding: 32px 0px;

    transition: color;

    @include animation;

    &:hover {
      color: var(--acent);
      fill: var(--acent);
    }
    &:focus {
      color: var(--acent);
      fill: var(--acent);
    }

    @include tablet {
      &.current {
        position: relative;
        &::after {
          content: '';
          display: none;
          width: 100%;
          height: 5px;
          background-color: var(--acent);
          border-radius: 3px;

          position: absolute;
          left: 0px;
          bottom: 0px;
          color: var(--acent);

          @include tablet {
            display: block;
          }
        }
      }
    }
  }
}

.nav-contacts {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 32px 0px;
  transition: color;
  @include animation;

  &__list {
    display: flex;
    flex-direction: column;

    gap: 10px;

    @include desktop {
      flex-direction: row;
      gap: 30px;
      margin-left: auto;
    }
  }

  &__link {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.02em;
    color: var(--secondary);

    transition: color;

    @include animation;

    @include desktop {
      font-size: 14px;
      line-height: calc(16 / 14);
    }

    &:hover,
    &:focus {
      color: var(--acent);
      fill: var(--acent);
    }
  }

  &__icon {
    width: 14px;
    height: 14px;
    fill: currentColor;
  }
}

/*------------------------------*/
