.modal-object {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 581px;
  padding: 40px;

  background: var(--white);

  transform: translate(-50%, -50%);

  @include animation;

  @include shadow__card;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity, visibility;

  @include animation;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal-object {
  transform: translate(-50%, -50%);
}

.modal__title {
  display: block;
  text-align: center;
  padding: 2px 0px 12px 0px;
  width: 100%;

  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.03em;

  color: var(--primiry);
}

.modal__button-close {
  position: absolute;
  right: 8px;
  top: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: inherit;
  cursor: pointer;
}

.modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.modal-form__field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-form__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4px;
}

.modal-form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);

  letter-spacing: 0.01em;
  color: var(--secondary);
}

.modal-form__input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;

  transition: border;

  @include animation;

  &:hover {
    border-color: var(--acent);

    & + .modal-form__icon {
      fill: var(--acent);
    }
  }

  &:focus {
    border-color: #2196f3;
    & + .modal-form__icon {
      fill: var(--acent);
    }
  }
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;

  transform: translateY(-50%);

  translate: fill;

  @include animation;
}

.input-posotion {
  position: relative;
}

.modal-form__textarea {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border;

  @include animation;

  &:hover {
    border-color: #2196f3;
  }

  &:focus {
    border-color: #2196f3;
  }
}

.modal-form__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  resize: none;

  color: rgba(117, 117, 117, 0.5);
}

.modal-policy {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.modal-policy__text {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 12);
  letter-spacing: 0.03em;

  color: var(--secondary);

  &:hover .modal-policy__link::after {
    width: 100%;
  }
}

.modal-policy__link {
  color: #2196f3;
  position: relative;
  z-index: 0;

  &::after {
    content: '';
    width: 0;
    height: 1px;
    border-radius: 5px;
    position: absolute;
    bottom: 5px;
    left: 0;
    background-color: var(--acent);

    transform: width;

    @include animation;
  }
}

.modal-policy__link {
  &:hover {
    &::after {
      width: 100%;
    }
  }
  &:focus {
    &::after {
      width: 100%;
    }
  }
}

.modal-policy__icon-object {
  position: relative;
  z-index: 0;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  margin-right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-object__mark {
  position: absolute;
  left: 3px;
  bottom: 3px;

  fill: transparent;
  transition: fill;

  @include animation;
}

.icon-object__background {
  transition: background-color;
  @include animation;
}

.modal-policy__checkbox {
  &:checked + .modal-policy__text .icon-object__mark {
    fill: var(--white);
  }

  &:checked + .modal-policy__text .icon-object__background {
    fill: var(--acent);
    background-color: var(--acent);
  }
}
