.hero {
  display: flex;

  align-items: center;

  background-color: #2f303a;
  height: 600px;
  max-width: 1600px;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/Img.jpg');
  background-size: cover;

  margin: 0px auto;

  &__title {
    text-transform: uppercase;
    color: white;
    font-size: 44px;
    font-weight: 900;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    text-align: center;
    margin-bottom: 30px;
  }

  &__button {
    display: block;
    max-width: 217px;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: var(--white);

    background: var(--acent);
    border-radius: 4px;

    margin: 0px auto;

    @include animation;

    &:hover {
      @include shadow__button;
    }

    &:hover {
      @include shadow__button;
    }
  }
}
