.hero {
  margin: 0px auto;
  display: flex;
  align-items: center;
  background-color: #2f303a;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: var(--gradient), url('/images/Header-mob.jpg');
  @include retina {
    background-image: var(--gradient), url('/images/Header-mob-2x.jpg');
  }

  @include tablet {
    height: 400px;
    background-image: var(--gradient), url('/images/Header-tab.jpg');
    @include retina {
      background-image: var(--gradient), url('/images/Header-tab-2x.jpg');
    }
  }

  @include desktop {
    height: 600px;
    max-width: 1600px;
    background-image: var(--gradient), url('/images/Header-desk.jpg');
    @include retina {
      background-image: var(--gradient), url('/images/Header-desk-2x.jpg');
    }
  }

  &__title {
    text-transform: uppercase;
    color: white;
    font-size: 26px;
    font-weight: 900;
    line-height: calc(42 / 26);
    letter-spacing: 0.06em;
    text-align: center;
    margin-bottom: 30px;
  }

  &__button {
    display: block;
    min-width: 201px;
    padding: 10px 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: var(--white);

    background: var(--acent);
    border-radius: 4px;

    margin: 0px auto;

    @include animation;

    &:hover {
      @include shadow__button;
    }

    &:hover {
      @include shadow__button;
    }
  }
}
